<footer>
    <div class="icons">
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="copy">
        &copy airbnb.co 
    </div>
    <div class="path">
        <a href="/privacy">privacy</a>
       <a href="/terms">terms</a>
    </div>
</footer>